{% extends "base.html" %}

{% load games_extras %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <h2> {{ game.name|capfirst }} </h2>
        </div>
    </div>
    {% if request.user.is_staff %}
    <div class="row">
        <div class="col-sm-12">
            <a href="{% url 'admin:games_boardgame_change' game.pk %}"> Edit Game </a>
        </div>
    </div
    {% endif %}

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <table>
                <tr>
                    <th scope="row"> Weight </th>
                    <td> {{ game.game_weight }} </td>
                </tr>
                <tr>
                    <th scope="row"> Players </th>
                    <td> {{ game.range_of_players|humaize_inclusive_range }} </td>
                </tr>
                <tr>
                    <th scope="row"> Duration (mins) </th>
                    <td> {{ game.game_duration_mins|humaize_inclusive_range }} </td>
                </tr>
                <tr>
                    <th scope="row"> Tags </th>
                    <td>
                        <ul>
                            {% for tag in game.tags.all %}
                                <li> {{ tag }} </li>
                            {% empty %}
                                No tags!
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row"> Played By </th>
                    <td>
                        <ul>
                            {% for player in game.played_by.all %}
                                <li> {{ player|capfirst }} </li>
                            {% empty %}
                                Nobody!
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
