{% extends "base.html" %}

{% load games_extras %}

{% block content %}
    <div class="row mb-3 mt-2">
        <div class="col-lg-4"></div>

        <div class="col-lg-4 mb-3 mt-2">
            <table class="shadow-lg">
                {% comment %} Header Section for Profile {% endcomment %}
                <tr class="{% cycle 'row-1' 'row-2' as rowcolors %}">
                    <th colspan="2">
                        {% if game.image_src %}
                            <div> <img src="{{ game.image_src }}" class="profile-image"> </div>
                        {% endif %}

                        <h2>
                            {{ game.name|capfirst }}

                            {% if request.user.is_staff %}
                                <a href="{% url 'admin:games_boardgame_change' game.pk %}" class="hidden-link">&#9999;</a>
                            {% endif %}
                        </h2>

                        {% if game.external_link %}
                        <a href="{{ game.external_link }}"> Board Game Geek </a>
                        {% endif %}
                    </th>
                </tr>

                {% comment %} Data Section Profile {% endcomment %}
                <tr class="{% cycle rowcolors %}">
                    <th scope="row"> Weight </th>
                    <td> {{ game.game_weight }} </td>
                </tr>
                <tr class="{% cycle rowcolors %}">
                    <th scope="row"> Players </th>
                    <td> {{ game.range_of_players|humaize_inclusive_range }} </td>
                </tr>
                <tr class="{% cycle rowcolors %}">
                    <th scope="row"> Duration (mins) </th>
                    <td> {{ game.game_duration_mins|humaize_inclusive_range }} </td>
                </tr>
                <tr class="{% cycle rowcolors %}">
                    <th scope="row"> Tags </th>
                    <td>
                        <ul>
                            {% for tag in game.tags.all %}
                                <li> {{ tag }} </li>
                            {% empty %}
                                No tags!
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr class="{% cycle rowcolors %}">
                    <th scope="row"> Played By </th>
                    <td>
                        <ul>
                            {% for player in game.users_played_by.all %}
                                <li> {{ player|capfirst }} </li>
                            {% empty %}
                                Nobody!
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% if  game.date_added%}
                <tr class="{% cycle rowcolors %}">
                    <th scope="row"> Date Added </th>
                    <td> {{ game.date_added}} </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
