{% extends "base.html" %}

{% load games_extras %}

{% block inline_javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>

<script>
$(".chosen-select").chosen({
    no_results_text: "Oops, nothing found!"
})
</script>
{% endblock %}


{% block content %}
    <div class="row mb-3 mt-4">
        <div class="col-lg-4"></div>

        <div class="col-lg-4 mb-4 text-center">
            <h2 class="fs-italic fw-bold"> THE GAMES </h2>
        </div>

        <div class="col-sm-8 col-lg-4"></div>
    </div>

    <div class="row mb-3 mt-4">
        <div class="col-sm-2 col-lg-2"></div>
        <div class="col-sm-8 col-lg-4 mb-4">
            <form action="" method="get" class="mb-3 shadow border-1">
                {{ filter.form.as_p }}
                <input type="submit" />
            </form>
        </div>

        <div class="col-xs-8 col-sm-12 col-lg-4 mb-5">
            <table>
                <tr>
                    <th scope="col"></th>  {# Used for the game image icon #}
                    <th scope="col">Name</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Duration (mins)</th>
                    <th scope="col">Number of Players</th>
                    <th scope="col">Tags</th>
                </tr>
                {% include "games/boardgame_filter_table.html" %}
            </table>
        </div>
    </div>
{% endblock %}
