{% load games_extras %}

{% for game in games %}
<tr
    class="{% cycle 'row-1' 'row-2' %}"
    {% if forloop.last and page_obj.has_next %}
    hx-get="/games/table/?{% extend_querystring request page=page_obj.next_page_number %}"
    hx-trigger="intersect once"
    hx-swap="afterend"
    {% endif %}
>
    <td>
        {% if game.image_src %}
            <img src="{{ game.image_src }}" class="icon">
        {% endif %}
    </td>
    <td>
        <a href="{% url 'games:detail' game.name  %}">{{ game.name|capfirst }}</a>
        {% if request.user.is_staff %}
        <a href="{% url 'admin:games_boardgame_change' game.pk %}" class="hidden-link">&#9999;</a>
        {% endif %}
    </td>
    <td> {{ game.game_weight }} </td>
    <td> {{ game.game_duration_mins|humaize_inclusive_range }} </td>
    <td> {{ game.range_of_players|humaize_inclusive_range }} </td>
    <td>
        <ul>
        {% for tag in game.tags.all %}
            <li> {{ tag }} </li>
        {% endfor %}
        </ul>
    </td>
</tr>
{% endfor %}
