{% extends "base.html" %}

{% load games_extras %}

{% block inline_javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>

<script>
$(".chosen-select").chosen({
    no_results_text: "Oops, nothing found!"
})
</script>
{% endblock %}


{% block content %}
    <div class="row mb-3 mt-2">
        <div class="col-sm-8 col-lg-5">
            <h2> Search </h2>
            <form action="" method="get">
                {{ filter.form.as_p }}
                <input type="submit" />
            </form>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-sm-8 col-lg-4 mb-5">
            <h2> Games </h2>
            <table>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Duration (mins)</th>
                    <th scope="col">Number of Players</th>
                    <th scope="col">Tags</th>
                </tr>
                </tr>
                {% include "games/boardgame_filter_table.html" %}
            </table>
        </div>
    </div>
{% endblock %}
