{% extends "base.html" %}


{% block inline_javascript %}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>

<script>
$(".chosen-select").chosen({
    no_results_text: "Oops, nothing found!"
})
</script>
{% endblock %}


{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>

    <table>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Weight</th>
            <th scope="col">Duration (mins)</th>
            <th scope="col">Number of Players</th>
            <th scope="col">Tags</th>
          </tr>
        </tr>
        {% for game in games %}
        <tr>
            <td>
                <a href="{% url 'games:detail' game.name  %}">{{ game.name|capfirst }}</a>
            </td>
            <td> {{ game.game_weight }} </td>
            <td> {{ game.game_duration_mins }} </td>
            <td> {{ game.range_of_players }} </td>
            <td>
                <ul>
                {% for tag in game.tags.all %}
                    <li> {{ tag }} </li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
