{% load games_extras static %}

{% for game in games %}
{% if forloop.last and page_obj.has_next %}
<tr hx-get="/games/table/?{% extend_querystring request page=page_obj.next_page_number %}"
    hx-trigger="intersect once"
    hx-swap="afterend">
{% else %}
<tr>
{% endif %}
    <td>
        {% with "images/"|add:game.name.lower|add:".webp" as image %}
            <img src="{% static image %}" class="icon" onerror="this.style.display='none'">
        {% endwith %}
    </td>
    <td>
        <a href="{% url 'games:detail' game.name  %}">{{ game.name|capfirst }}</a>
        {% if request.user.is_staff %}
        <a href="{% url 'admin:games_boardgame_change' game.pk %}" class="hidden-link">&#9999;</a>
        {% endif %}
    </td>
    <td> {{ game.game_weight }} </td>
    <td> {{ game.game_duration_mins|humaize_inclusive_range }} </td>
    <td> {{ game.range_of_players|humaize_inclusive_range }} </td>
    <td>
        <ul>
        {% for tag in game.tags.all %}
            <li> {{ tag }} </li>
        {% endfor %}
        </ul>
    </td>
</tr>
{% endfor %}
