{% extends "base.html" %}

{% block inline_javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>
    const table = document.querySelector('table');
    const tbody = table.querySelector('tbody');
    const rows = Array.from(tbody.querySelectorAll('tr'));

    const numericColumns = Array.from(table.querySelectorAll('.numeric'));

    numericColumns.forEach(column => {
      column.addEventListener('click', () => {
        const columnIndex = Array.from(column.parentNode.children).indexOf(column);
        const sortDirection = column.dataset.sortDirection === 'asc' ? 'desc' : 'asc';
        column.dataset.sortDirection = sortDirection;
        rows.sort((rowA, rowB) => {
          const valueA = parseFloat(rowA.children[columnIndex].textContent);
          const valueB = parseFloat(rowB.children[columnIndex].textContent);
          if (sortDirection === 'asc') {
            return valueA - valueB;
          } else {
            return valueB - valueA;
          }
        });
        tbody.innerHTML = '';
        rows.forEach(row => tbody.appendChild(row));
      });
    })

    new Morris.Line({
        // ID of the element in which to draw the chart.
        element: 'GamesPlayedProgress',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: {{ game_progress_chart_data|safe }},
        // The name of the data record attribute that contains x-values.
        xkey: 'date_played',
        // A list of names of data record attributes that contain y-values.
        ykeys: [
            'ferdia',
            'keila',
            'peter',
            'rob',
            'enya',
            'ryan',
            'fabian'
        ],
        labels: [
            'ferdia',
            'keila',
            'peter',
            'rob',
            'enya',
            'ryan',
            'fabian'
        ],
        smooth: false
      });

</script>

{% endblock %}

{% block content %}

    <div class="row mb-3 mt-2">
        <div class="col-sm-12 col-lg-1"></div>

        <div class="col-xs-10 col-sm-12 col-lg-5 mb-5 mt-2">
            <h2 class="shadow-sm"> </h2>

            <table class="shadow-lg">
                <thead>
                    <tr> <th colspan="4"><h2 class="shadow-sm">  🏆 Leaderboard 🏆 </h2> </th> </tr>
                    <tr>
                        <th scope="col" class="numeric">#</th>
                        <th scope="col">Name</th>
                        <th scope="col" class="numeric">Games Unplayed</th>
                        <th scope="col" class="numeric">Completed Weight</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr class="{% cycle 'row-1' 'row-2' %} ">
                        <td class="fw-bolder">{{ forloop.counter }} </td>
                        <td>
                            {% if request.user.is_staff %}
                                <a href="{% url 'admin:users_user_change' user.pk %}" class="hidden-link">
                                    {{ user.username|capfirst }}
                                </a>
                            {% else %}
                                {{ user.username|capfirst }}
                            {% endif %}
                        </td>
                        <td>
                            {{ user.number_unplayed_games }}
                            {{ user.status.symbol }}
                        </td>
                        <td>{{ user.completed_weight }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-sm-12 col-lg-1"></div>

        <div class="col-sm-12 col-lg-5  mb-3 mt-2">
            <h2> Latest Updates </h2>

            <table class="shadow">
                {% regroup recent_newly_played by date_played as updates_list %}
                {% for update in updates_list %}
                    <tr class={% cycle 'row-1' 'row-2' %}>
                        <td> {{ update.grouper }} </td>
                        <td class="updates-player-games">
                            <ul>
                                {% for player in update.list %}
                                <li>
                                    <span class="updates-player"> {{ player.played_by__username|title }}:</span>
                                    <span class="updates-games"> {{ player.games }} </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
        </div>

        <div class="row mb-3 mt-2">
            <div class="col-xs-2 col-lg-1"></div>

            <div class="col-lg-5 mb-5 mt-2">
                <table class="shadow-lg">
                    <tr> <th colspan="3"><h2 class="shadow-sm"> 🔥 Last 30 days 🔥 </h2> </th> </tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Games Played</th>
                    </tr>
                    {% for user in hot_users %}
                        <tr class="{% cycle 'row-1' 'row-2' %} ">
                            <td class="fw-bolder" >{{ forloop.counter }} </td>
                            <td> {{ user.played_by__username|capfirst }} </td>
                            <td> {{ user.total_played }} </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div id="GamesPlayedProgress" style=""></div>
        </div>
    </div>
{% endblock %}
