{% extends "base.html" %}

{% block inline_javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>
const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

// do the work...
document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
    const table = th.closest('table');
    Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
        .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
        .forEach(tr => table.appendChild(tr) );
})));

</script>

{% endblock %}

{% block content %}
    <h2> Player Ranking </h2>
    <table>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Games Unplayed</th>
            <th scope="col">Completed Weight</th>
          </tr>
        </tr>
        {% for user in users %}
            <tr>
                <th scope="row">{{ forloop.counter }} </th>
                <td> {{ user.username|capfirst }}</td>
                <td>
                    {{ user.number_unplayed_games }}
                    {% if user.is_hot %}
                        🔥
                    {% elif  user.has_not_replayed_recently %}
                        {% if user.is_dead  %}
                            ☠️
                        {% elif user.is_cold %}
                            ❄️
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ user.completed_weight }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
